/* mettre . pour les class */
/* mettre # pour les id */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');


/* Style général pour le corps de la page */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;          /* Taille standard pour le web */
  line-height: 1.6;         /* Confort de lecture */
  color: #444;           /* Gris foncé, moins agressif que le noir pur */
  margin: 0;
  padding: 0;
  background-color: #f8fafd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

b {
  font-weight: 500;
}

H2 {
  color: #32594b;
}

/* Style pour la bannière image "fond" et photo profil */
.banner {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -110px;
}

#fond-intro {
  width: 100%;
  height: auto;
  position: absolute;
  top: 90;
  left: 0;
  z-index: 1;
}

#photo-martin {
  z-index: 2;

  width: 200px;    
  height: 200px;
  border-radius: 50%;

  object-fit: cover;           /* Recadre l’image sans la déformer */
  object-position: 50% 35%;     /* Centre le visage */
  margin-right: 20px;          /* Espacement avec le texte */

  top: 50%;
  left: 50%;
  transform: translate(-160%, 25%);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  border: 3px solid #fff;
  margin-top: -50px;
  display: inline-block;
}

#logo-labo {
  z-index: 2;

  width: 200px;    
  height: 200px;
  border-radius: 5%;

  object-fit: cover;           /* Recadre l’image sans la déformer */
  object-position: 50% 35%;     /* Centre le visage */
  margin-right: 20px;          /* Espacement avec le texte */

  top: 50%;
  left: 50%;
  transform: translate(-160%, 25%);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  border: 3px solid #fff;
  margin-top: -50px;
  display: inline-block;
}

@media (max-width: 768px) {
    .photo-martin {
        width: 150px;
        height: 150px;
        float: none;              /* La passe au-dessus du texte */
        display: block;
        margin: 0 auto 20px auto; /* Centre la photo */
    }
}

/* Style pour la section d'introduction */
.intro {
  width: 60%;
  max-width: 1200px;
  padding: 20px;
  text-align:justify;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.intro h1 {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;           /* Desktop */
  line-height: 1.2;
  letter-spacing: 0.5px;
  
  margin-bottom: 10px;
  color: #32594b;   /* Couleur verte pour le titre */
  text-align: center;
}

.intro_text p {
  
  font-size: 16px;
  color:#333333;
  font-style: italic;
  margin-bottom: 15px;
  text-align: center;
}


/* Style pour le contenu détaillé */
.activity-zone {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  
}

/* Style pour les blocs d'activités */
.activity-detail {
  flex: 1 1 calc(45% - 20px);
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centre les blocs si moins de deux blocs par ligne */
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s;
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  min-width: 300px;
  max-width: 550px;
}

.activity-detail a {
  color: #32594b;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.activity-detail p {
  line-height: 1.5;
  margin-bottom: 10px;
}

.activity-detail:hover {
  transform: translateY(-5px);   /* Effet de survol */
}

.activity-text {
  border: 1.5px solid #9da0a1;
  border-radius: 2%;
  box-shadow: 0 2px 5px rgba(112, 111, 111, 0.1);
  padding: 10px;

}

aside {
  margin-left: 10px;
}

#link-linkedin {
  color: #0277bd;
  white-space: no-wrap;
  display: inline;
}


/* Pages annexes */

#retour {
  font-size: 13px;
  font-style: italic;
  color: #535557;
}

.images-sous-pages {
  border-radius: 1px solid #000;
  height: 400px;
}

.image-gauche {
  text-align: left;
}

.image-droite {
  text-align: right;
}